section form, .formulario-nosotros form {
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  background: black;
  padding-left: 40px;
  margin-right: 150px;
  background: black;
  /*width: 600px;
  height: 600px;*/
}

section form input, .formulario-nosotros form input {
  /*
  height: 35px;
  border-bottom: 2px solid $colorUno;
  background: $colorCuatro;
  border-right: unset;
  border-top: unset;
  border-left: unset;
  color: $colorDos;*/
  padding: 20px;
  /*width: 600px;*/
  background: black;
  border-bottom: 2px solid rgb(189, 82, 11);
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  margin-top: 20px;
}

section form select, .formulario-nosotros form select {
  /*
  height: 35px;
  border-bottom: 2px solid $colorUno;
  background: $colorCuatro;
  border-right: unset;
  border-top: unset;
  border-left: unset;
  color: $colorDos;*/
  background: black;
  color: rgb(189, 82, 11);
  border: 1px solid rgb(189, 82, 11);
}

section form button, .formulario-nosotros form button {
  /*
  background-color:$colorUno;
  border: none;
  margin-left: 40%;
  border-radius: 22px;*/
  margin-top: 30px;
  background-color: black;
  color: rgb(189, 82, 11);
  border: 1px solid rgb(189, 82, 11);
  width: 100px;
  height: 40px;
}

section form textarea, .formulario-nosotros form textarea {
  width: 300px;
  background: black;
  border-bottom: 2px solid rgb(189, 82, 11);
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
}

section form label, .formulario-nosotros form label {
  padding: 20px;
  color: white;
}

/*   
nav ul{
    @include flex(flex ,row,center,center,center);
    background:$colorDos;
    margin: 0;
    li{
        padding: 20px;
        font-size: 20px;
        a{
            color: $colorTres;
            text-decoration: none;
            &:hover{
                color: $colorUno;
            }
        }
    }
    .logo{
        font-size: 30px;
        text-align: start;
        margin-right: 80px;
    } 
}    */
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
nav .bg-body-tertiary {
  background: rgb(189, 82, 11);
}
nav .container-fluid {
  justify-content: space-around;
}
nav .navbar-brand {
  color: rgb(189, 82, 11);
  font-size: 30px;
  margin-right: 25%; /*32%*/
  margin-left: 2%;
  font-family: "Oswald", sans-serif;
}
nav .nav-item {
  padding: auto;
}
nav .nav-item .nav-link.active {
  color: rgb(189, 82, 11);
  font-size: 22px;
  margin: 8px;
  font-family: "Roboto", sans-serif;
}

footer {
  background: black;
  height: 250px;
  margin-top: 30px;
}
footer .footer {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 10%;
  justify-content: center;
}
footer .footer h3 {
  padding-top: 50px;
  font-size: 30px;
  color: rgb(189, 82, 11);
  font-family: "Anton", sans-serif;
}
footer .footer p {
  font-size: 20px;
  margin: -1px;
  color: rgb(255, 255, 255);
}
footer .footer .iconos-footer-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 80px;
}
footer .footer .iconos-footer-ul li {
  font-size: 20px;
  padding: 5px;
}
footer .footer .iconos-footer-ul li i {
  color: rgb(189, 82, 11);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Noto Sans SC", sans-serif;
}

img.d-block {
  width: 100%;
  height: 600px;
}

h1 {
  font-size: 30px;
  text-align: center;
  padding: 20px;
}
h1 strong {
  color: rgb(189, 82, 11);
}

p {
  font-size: 20px;
  padding: 5px;
}

h2 {
  font-size: 30px;
  text-align: center;
  padding: 20px;
}
h2 strong {
  color: rgb(189, 82, 11);
}

.sugerencias {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.sugerencias img {
  margin: 3px;
  width: 200px;
  height: 200px;
}

.menu-opciones {
  display: flex;
}
.menu-opciones div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 100px;
  border: none;
}
.menu-opciones div img {
  width: 380px;
  height: 480px;
}
.menu-opciones div a {
  text-decoration: none;
  color: rgb(189, 82, 11);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: space-around;
}
.cards img {
  width: 320px;
  height: 300px;
}
.cards .titulo-tarjeta {
  font-size: 25px;
  color: rgb(189, 82, 11);
}
.cards .card-text {
  font-size: 18px;
  margin-left: -10px;
}

.titulo-decorado {
  margin: 10px;
}
.titulo-decorado h2 {
  font-size: 30px;
  margin-bottom: -20px;
}
.titulo-decorado .linea-decorativa {
  background-image: url(https://popmenucloud.com/ckfbqnia/cdaa464b-da11-4c5f-b275-15cdfffbd18e.png);
  width: 280px;
  height: 40px;
  background-size: cover;
  margin: auto;
  margin-bottom: 80px;
}

/*h2{
    font-size:30px;
    text-align: center;
    margin: 20px;
}
p{
    font-size:20px ;
    margin: 20px;
    strong{
        color: $colorUno;
    }
}*/
/*
.formulario-nosotros{
    @include formulario(flex, row, center);
    img{
        width: 450px;
        height: 450px;
    }    
    form{
        @extend %form;
        width: 500px;
        height: 450px;
            div{
                margin:12px;
                font-size: 20px;
                padding: 6px;
                label{
                    color:$colorTres;
                }
                input{
                    @extend %input;
                }    
                select{
                    @extend %select;
                }   
                button{
                    @extend %button;
                }
            }
        }
    }
*/
/*form{
    margin: auto;
    background: black;
    width:50% ;
    height: 500px;
    .form-label{
        margin: auto;
        font-size: 18px;
        color: red;
    }
    .form-control{
        margin: auto;
        width: 400px;
        background: black;
        border-bottom:2px solid $colorUno;
        border-top: none;
        border-left: none;
        border-right: none;
    }
}*/
.section-nosotros {
  margin-left: 10px;
}
.section-nosotros h2 {
  font-size: 30px;
  text-align: center;
}
.section-nosotros p {
  font-size: 20px;
  margin: 20px;
}
.section-nosotros p strong {
  color: rgb(189, 82, 11);
}

.formulario-nosotros {
  display: flex;
  justify-content: center;
  /*margin-left:100px;*/
  margin: auto;
}
.formulario-nosotros form {
  width: 800px;
  height: 600px;
  /*
      padding-left: 40px;
      margin: auto;
      margin-right: 150px;
      background: black;
      width: 600px;
      height: 600px;
      /*
  padding-left: 40px;
  margin: auto;
  margin-right: 150px;
  background: black;
  width: 600px;
  height: 600px;*/
}
.formulario-nosotros form input {
  width: 600px;
  /*
  padding: 20px;
  width: 400px;
  background: black;
  border-bottom:2px solid $colorUno;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  margin-top: 20px;*/
}
.formulario-nosotros form textarea {
  /*
  width: 300px;
  background: black;
  border-bottom:2px solid $colorUno;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;*/
}
.formulario-nosotros form label {
  /*
  padding: 20px;
  color: white;*/
}
.formulario-nosotros form select {
  /*
  background: black;
  color: $colorUno;
  border: 1px solid $colorUno;*/
}
.formulario-nosotros form button {
  /*
  margin-top: 20px;
  background-color:black;
  color: $colorUno;
  border: 1px solid $colorUno;
  width: 100px;
  height:40px;*/
}

.mapa iframe {
  width: 100%;
  height: 300px;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 20px;
}

p {
  font-size: 20px;
  margin: 20px;
}
p strong {
  color: rgb(189, 82, 11);
}

/*
.formulario-reservas{
    @include formulario(flex,row,center);
    img{
        width: 600px;
        height: 700px;
    }    
    form{
        @extend %form;
        width:500px ;
        height:600px ;
            div{
                margin:12px;
                font-size: 20px;
                padding: 6px;
                label{
                    color: $colorTres;
                }
                input{
                    @extend %input;
                }    
                select{
                    @extend %select;
                }   
                button{
                    @extend %button;


                }
            }
        }
    }*/
.section-reservas {
  margin: 20px;
}
.section-reservas h2 {
  font-size: 30px;
  text-align: center;
}
.section-reservas p {
  font-size: 20px;
  margin: 20px;
}
.section-reservas p strong {
  color: rgb(189, 82, 11);
}

section {
  margin-left: 500px;
}
section form {
  width: 800px;
  height: 700px;
  /*
  padding-left: 40px;
  margin: auto;
  margin-right: 150px;
  background: black;
  width: 600px;
  height: 600px;*/
}
section form input {
  width: 700px;
}
section form textarea {
  /*
  width: 300px;
  background: black;
  border-bottom:2px solid $colorUno;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;*/
}
section form label {
  /*
  padding: 20px;
  color: white;*/
}
section form select {
  /*
  background: black;
  color: $colorUno;
  border: 1px solid $colorUno;*/
}
section form button {
  margin-bottom: 20px;
  /*
  margin-top: 20px;
  background-color:black;
  color: $colorUno;
  border: 1px solid $colorUno;
  width: 100px;
  height:40px;*/
}

p {
  font-size: 20px;
  margin: 20px;
}
p strong {
  color: rgb(189, 82, 11);
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    justify-content: center;
  }
  nav ul li {
    font-size: 18px;
  }
  nav ul .logo {
    font-size: 21px;
  }
  img.d-block {
    height: 300px;
  }
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  .sugerencias img {
    width: 100px;
    height: 100px;
  }
  .menu-opciones {
    flex-direction: column;
  }
  .menu-opciones div {
    margin: 0;
  }
  .menu-opciones div img {
    width: 100%;
    height: 280px;
  }
  .cards {
    grid-template-columns: repeat(3, 150px);
  }
  .cards img {
    width: 150px;
    height: 100px;
  }
  .cards .titulo-tarjeta {
    font-size: 15px;
  }
  .cards .card-text {
    font-size: 12px;
  }
  .titulo-decorado {
    margin: 5px;
  }
  .titulo-decorado h2 {
    font-size: 22px;
  }
  .titulo-decorado .linea-decorativa {
    width: 200px;
    height: 30px;
  }
  /*
  .formulario-nosotros{
      flex-direction: column;
      justify-content: center;
      img{
          display: none;
      }
      form{
          width: 100%;
          height:390px ;
          div{
              font-size: 18px;
              input{
                  @extend %input;
                  width: 150px;
              }
              select{
                  @extend %select;
                  height: 30px; 

              }
              button{
                  @extend %button;
                  width: 100px;
                  height:40px ;
              }
              label{
                  font-size: 15px;
              }
          }
      }
  }*/
  /*
  .formulario-reservas{
      flex-direction: column;
      img{
          display: none;
      }
      form{
          width: 100%;
          height:500px ;
          div{
              font-size: 18px;
              input{
                  @extend %input;
                  width: 150px;
              }
              select{
                  @extend %select;
                  height: 30px; 

              }
              button{
                  @extend %button;
                  width: 100px;
                  height:40px ;
              }
              label{
                  font-size: 15px;
              }
          }
      }
  }*/
  footer {
    height: 250px;
  }
  footer .footer {
    grid-template-columns: repeat(3, 100px);
    gap: 4%;
  }
  footer .footer h3 {
    padding-top: 20px;
    font-size: 17px;
  }
  footer .footer p {
    font-size: 13px;
  }
  footer .footer .iconos-footer-ul {
    margin-right: 40px;
  }
  footer .footer .iconos-footer-ul li {
    font-size: 15px;
    padding: 3px;
  }
}
/*
@media (min-width:$mediaDesktop){
    //header
    nav ul{
        flex-direction: row;
        li{
            font-size: 22px;
        }
    }
    .logo{
        font-size: 30px;
    }
    //inicio
    img.d-block{
        height: 500px;
    }
    h1{
        font-size:22px;
    }
    p{
        font-size: 20px;
    }
    h2{
        font-size:21px ;
    }
    .sugerencias img{
        width: 200px;
        height: 200px;
    }
    //menu
    .menu-opciones{
        flex-direction: row;
        div{
            margin:0;
            img{
                width:100%;
                height:480px;
            }
        }    
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(3,280px);
        justify-content: space-around;

        img{
            width:280px;
            height:240px;
        }
        .titulo-tarjeta{
            font-size: 17px;
            color:$colorUno;
        }
        .card-text{
            font-size: 14px;
            margin-left: -10px;
        }
    }
    .titulo-decorado{
        margin: 5px;
        h2{
            font-size: 30px;
        }
        .linea-decorativa{
            width:250px ;
            height:35px ;
        }
    }
    //nosotros
    h2{
        font-size:21px ;
    }
    /*boot
    .formulario-nosotros{
        flex-direction: row;
        img{
            width: 350px;
            height: 390px;
        }
        form{
            width: 500px;
            height:390px ;
            div{
                font-size: 20px;
                input{
                    width: 150px;
                }
                select{
                    height: 30px; 
                }
                button{
                    width: 120px;
                    height:60px ;
                }
                label{
                    font-size: 15px;
                }
            }
        }
    }*/
/*
.formulario-reservas{
    flex-direction: row;
    justify-content: center;
    img{
        width:450px ;
        height: 600px;
    }
    form{
        width: 500px;
        height:600px ;
        div{
            font-size: 20px;
            input{
                width: 150px;
            }
            select{
                height: 30px; 
            }
            button{ 
                width: 120px;
                height:60px ;
            }
            label{
                font-size: 15px;
            }
        }
    }
}*/
/*
    footer{
        height: 250px;
        .footer{
            grid-template-columns: repeat(3,220px);
            gap: 6%;
            h3{
                padding-top: 20px;
                font-size: 22px;
            }
            p{
                font-size: 18px; 
            }
            .iconos-footer-ul{
                margin-right: 40px;
                li{
                    font-size: 18px;
                    padding: 3px;    
                } 
            }
        }    
    }
}*/

/*# sourceMappingURL=styles.css.map */
