.formulario-reservas, .formulario-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: black;
  margin: auto;
}

.formulario-reservas input, .formulario-nosotros input {
  padding: 20px;
  background: black;
  border-bottom: 2px solid rgb(189, 82, 11);
  border-top: none;
  border-left: none;
  border-right: none;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-left: 40px;
}

.formulario-reservas select, .formulario-nosotros select {
  background: black;
  color: rgb(189, 82, 11);
  border: 1px solid rgb(189, 82, 11);
  margin-left: 40px;
}

.formulario-reservas button, .formulario-nosotros button {
  margin-top: 30px;
  background-color: black;
  color: rgb(189, 82, 11);
  border: 1px solid rgb(189, 82, 11);
  width: 100px;
  height: 40px;
  margin-bottom: 20px;
  margin-left: 40px;
}

.formulario-reservas textarea, .formulario-nosotros textarea {
  width: 300px;
  background: black;
  border-bottom: 2px solid rgb(189, 82, 11);
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  max-height: 150px;
  margin-left: 40px;
}

.formulario-reservas label, .formulario-nosotros label {
  padding: 20px;
  color: white;
  margin-left: 40px;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}
.container-fluid .navbar-brand img {
  width: 120px;
  height: 120px;
  margin-left: 30px;
}
.container-fluid .navbar-nav .nav-link.active {
  color: rgb(189, 82, 11);
  font-size: 22px;
  margin: 8px;
}
.container-fluid .navbar-nav .nav-link.active:hover {
  color: rgb(255, 255, 255);
}
.container-fluid button {
  background: rgb(189, 82, 11);
}

footer {
  background: black;
  height: 380px;
  margin-top: 80px;
}
footer img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 120px;
  height: 120px;
}
footer .iconos-footer-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 30px;
}
footer .iconos-footer-ul li {
  font-size: 25px;
  padding: 5px;
}
footer .iconos-footer-ul li i {
  color: rgb(189, 82, 11);
}
footer .footer {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 5%;
  justify-content: center;
}
footer .footer h3 {
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
  color: rgb(189, 82, 11);
  font-family: "Anton", sans-serif;
}
footer .footer p {
  text-align: center;
  font-size: 15px;
  color: rgb(255, 255, 255);
}
footer .footer .iconos-footer-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 80px;
}
footer .footer .iconos-footer-ul li {
  font-size: 20px;
  padding: 5px;
}
footer .footer .iconos-footer-ul li i {
  color: rgb(189, 82, 11);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Noto Sans SC", sans-serif;
}

p {
  font-size: 20px;
  margin: 20px;
  padding: 5px;
}
p strong {
  color: rgb(189, 82, 11);
}

h1 {
  font-size: 30px;
  text-align: center;
  padding: 20px;
}
h1 strong {
  color: rgb(189, 82, 11);
}

h2 {
  font-size: 30px;
  text-align: center;
  padding: 20px;
}
h2 strong {
  color: rgb(189, 82, 11);
}

img.d-block {
  width: 100%;
  height: 600px;
}

.sugerencias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.sugerencias img {
  margin: 3px;
  width: 200px;
  height: 200px;
}

.fondo-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/desayuno.jpg);
  height: 700px;
  margin-top: 100px;
}
.fondo-card .card {
  margin-top: 100px;
  height: 500px;
  background: rgba(255, 255, 255, 0.4509803922);
}
.fondo-card .card .card-img-top {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  margin-top: 20px;
}
.fondo-card .card .card-body h3 {
  font-size: 25px;
  color: rgb(189, 82, 11);
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.fondo-card .card .card-body p {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
.fondo-card .card .card-body p strong {
  color: rgb(189, 82, 11);
}

.titulo {
  background: black;
  color: rgb(189, 82, 11);
  margin-bottom: -100px;
  margin-top: 200px;
}
.titulo h2 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  letter-spacing: 10px;
}

.carta {
  background-image: url(../img/menu-fondo.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 320px;
}
.carta h2 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 100px;
  color: rgb(189, 82, 11);
  font-family: "Raleway", sans-serif;
  margin: auto;
}
.carta div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: -20px;
  font-size: 20px;
}
.carta div .btn {
  margin: auto;
  background: rgba(0, 0, 0, 0.678);
  color: rgb(189, 82, 11);
  border: 1px solid rgb(189, 82, 11);
  border: rgba(0, 0, 0, 0);
  font-family: "Raleway", sans-serif;
  width: 200px;
}
.carta div .btn:hover {
  background: black;
  color: rgb(189, 82, 11);
  border: 1px solid black;
}

.formulario-nosotros {
  width: 800px;
  height: 600px;
}
.formulario-nosotros input {
  width: 700px;
}
.formulario-nosotros textarea {
  width: 700px;
}
.formulario-nosotros button {
  margin-left: 40px;
  animation: animacionboton 2s infinite;
  border-radius: 2px;
}

@keyframes animacionboton {
  0% {
    transform: scale(1.05) rotate(6deg);
  }
  20% {
    transform: scale(1.05) rotate(-7deg);
  }
  30% {
    transform: scale(1.05) rotate(6deg);
  }
  40% {
    transform: none;
  }
}
.ubicacion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 400px;
}
.ubicacion .card {
  height: 150px;
}
.ubicacion .card img {
  height: 250px;
}
.ubicacion .card-body {
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}
.ubicacion .card-body h5 {
  text-align: center;
  color: rgb(189, 82, 11);
  font-family: "Raleway", sans-serif;
}
.ubicacion .card-body p {
  font-size: 20px;
  text-align: center;
}
.ubicacion .card-body .btn {
  display: flex;
  justify-content: center;
  margin: auto;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(189, 82, 11);
  color: rgb(189, 82, 11);
  width: 150px;
  font-size: 18px;
}
.ubicacion .card-body .btn:hover {
  background: rgb(189, 82, 11);
  color: rgb(255, 255, 255);
}

.formulario-reservas {
  width: 800px;
  height: 700px;
}
.formulario-reservas input {
  width: 700px;
}
.formulario-reservas textarea {
  width: 700px;
}
.formulario-reservas button {
  animation: animacionboton 2s infinite;
}

@media (max-width: 480px) {
  .container-fluid {
    flex-direction: row;
  }
  .nav-item a {
    text-align: center;
  }
  img.d-block {
    height: 400px;
  }
  .sugerencias img {
    margin: 1px;
    width: 120px;
    height: 120px;
  }
  .carta {
    height: 400px;
  }
  .carta div {
    flex-direction: column;
    justify-content: space-around;
  }
  .carta div .btn {
    margin: auto;
    width: 200px;
    margin-bottom: 10px;
  }
  .fondo-card {
    height: 65%;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 100px;
  }
  .formulario-reservas {
    width: 400px;
  }
  .formulario-reservas input {
    width: 300px;
    height: 40px;
  }
  .formulario-reservas textarea {
    width: 300px;
  }
  .formulario-reservas select {
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .formulario-nosotros {
    width: 350px;
  }
  .formulario-nosotros input {
    width: 250px;
    height: 40px;
  }
  .formulario-nosotros textarea {
    width: 250px;
  }
  .formulario-nosotros select {
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .ubicacion {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  .ubicacion .card {
    margin-bottom: 400px;
  }
  footer {
    height: 400px;
  }
  footer img {
    width: 100px;
    height: 100px;
  }
  footer .iconos-footer-ul li {
    font-size: 20px;
  }
  footer .footer {
    grid-template-columns: repeat(3, 145px);
    gap: 1%;
  }
  footer .footer h3 {
    font-size: 16px;
  }
  footer .footer p {
    font-size: 12px;
  }
}
@media (min-width: 481px) and (max-width: 780px) {
  .container-fluid {
    flex-direction: row;
  }
  .container-fluid .nav-item a {
    text-align: center;
  }
  img.d-block {
    height: 500px;
  }
  .sugerencias img {
    margin: 2px;
    width: 180px;
    height: 180px;
  }
  .carta {
    height: 400px;
  }
  .carta div {
    flex-direction: column;
    justify-content: space-around;
  }
  .carta div .btn {
    margin: auto;
    width: 200px;
    margin-bottom: 10px;
  }
  .fondo-card {
    height: 65%;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 100px;
  }
  .formulario-reservas {
    width: 400px;
  }
  .formulario-reservas input {
    width: 300px;
    height: 40px;
  }
  .formulario-reservas textarea {
    width: 300px;
  }
  .formulario-reservas select {
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .formulario-nosotros {
    width: 400px;
  }
  .formulario-nosotros input {
    width: 300px;
    height: 40px;
  }
  .formulario-nosotros textarea {
    width: 300px;
  }
  .formulario-nosotros select {
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .ubicacion {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  .ubicacion .card {
    margin-bottom: 400px;
  }
  footer {
    height: 400px;
  }
  footer .iconos-footer-ul li {
    font-size: 20px;
  }
  footer .footer {
    grid-template-columns: repeat(3, 170px);
    gap: 2%;
  }
  footer .footer h3 {
    font-size: 16px;
  }
  footer .footer p {
    font-size: 12px;
  }
}
@media (min-width: 781px) and (max-width: 980px) {
  .container-fluid {
    flex-direction: row;
  }
  .container-fluid .nav-item a {
    text-align: center;
  }
  .carta {
    height: 400px;
  }
  .carta div {
    flex-direction: column;
    justify-content: space-around;
  }
  .carta div .btn {
    margin: auto;
    width: 200px;
    margin-bottom: 10px;
  }
  .fondo-card {
    height: 65%;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 100px;
  }
  .formulario-reservas {
    width: 550px;
    height: 650px;
  }
  .formulario-reservas input {
    width: 450px;
    height: 40px;
  }
  .formulario-reservas textarea {
    width: 450px;
  }
  .formulario-reservas select {
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .formulario-nosotros {
    width: 550px;
    height: 650px;
  }
  .formulario-nosotros input {
    width: 450px;
    height: 40px;
  }
  .formulario-nosotros textarea {
    width: 450px;
  }
  .formulario-nosotros select {
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .ubicacion {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    margin: 50px;
  }
  .ubicacion .card {
    margin-bottom: 400px;
  }
  footer {
    height: 400px;
  }
  footer img {
    width: 120px;
    height: 120px;
  }
  footer .iconos-footer-ul li {
    font-size: 20px;
  }
  footer .footer {
    grid-template-columns: repeat(3, 170px);
    gap: 2%;
  }
  footer .footer h3 {
    padding-top: 50px;
    font-size: 16px;
    color: rgb(189, 82, 11);
  }
  footer .footer p {
    font-size: 12px;
  }
}
@media (min-width: 981px) {
  .container-fluid {
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
  }
  .container-fluid .nav-item a {
    text-align: center;
  }
  .menu-opciones {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .menu-opciones div img {
    width: 300px;
    height: 350px;
  }
  .fondo-card {
    height: 65%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
    width: 100%;
    padding-bottom: 100px;
  }
  .fondo-card .card {
    height: 500px;
  }
}

/*# sourceMappingURL=styles.css.map */
