.formulario-reservas form, .formulario-nosotros form {
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  background: black;
}

.formulario-reservas form div input, .formulario-nosotros form div input {
  height: 35px;
  border-bottom: 2px solid rgb(189, 82, 11);
  background: rgba(75, 75, 75, 0.35);
  border-right: unset;
  border-top: unset;
  border-left: unset;
  color: black;
}

.formulario-reservas form div select, .formulario-nosotros form div select {
  height: 35px;
  border-bottom: 2px solid rgb(189, 82, 11);
  background: rgba(75, 75, 75, 0.35);
  border-right: unset;
  border-top: unset;
  border-left: unset;
  color: black;
}

.formulario-reservas form div button, .formulario-nosotros form div button {
  width: 120px;
  background-color: rgb(189, 82, 11);
  height: 60px;
  border: none;
  margin-left: 40%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: black;
  margin: 0;
}
nav ul li {
  padding: 20px;
  font-size: 20px;
}
nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
nav ul li a:hover {
  color: rgb(189, 82, 11);
}
nav ul .logo {
  font-size: 30px;
  text-align: start;
  margin-right: 80px;
}

footer {
  background: black;
  height: 250px;
  margin-top: 30px;
}
footer .footer {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 10%;
  justify-content: center;
}
footer .footer h3 {
  padding-top: 50px;
  font-size: 35px;
  color: rgb(189, 82, 11);
}
footer .footer p {
  font-size: 16px;
  margin: -1px;
  color: rgb(255, 255, 255);
}
footer .footer .iconos-footer-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 80px;
}
footer .footer .iconos-footer-ul li {
  font-size: 18px;
  padding: 5px;
}
footer .footer .iconos-footer-ul li i {
  color: rgb(189, 82, 11);
}

/*
@media (max-width:500px){
    footer{
        height: 250px;
        .footer{
            grid-template-columns: repeat(3,100px);
            gap: 5%;
            h3{
                padding-top: 20px;
                font-size: 17px;
            }
            p{
                font-size: 13px; 
            }
            .iconos-footer-ul{
                margin-right: 40px;
                li{
                    font-size: 15px;
                    padding: 3px;    
                } 
            }
        }    
    }

}

@media (min-width:$mediaMobile) and (max-width:$mediaTablet){
    footer{
        height: 250px;
        .footer{
            grid-template-columns: repeat(3,150px);
            gap: 3%;
            h3{
                padding-top: 22px;
                font-size: 18px;
            }
            p{
                font-size: 15px; 
            }
            .iconos-footer-ul{
                margin-right: 40px;
                li{
                    font-size: 15px;
                    padding: 4px;    
                } 
            }
        }    
    }

}
@media (min-width:$mediaDesktop){
    footer{
        height: 250px;
        .footer{
            grid-template-columns: repeat(3,180px);
            gap: 9%;
            h3{
                padding-top: 22px;
                font-size: 25px;
            }
            p{
                font-size: 16px; 
            }
            .iconos-footer-ul{
                margin-right: 40px;
                li{
                    font-size: 18px;
                    padding: 4px;    
                } 
            }
        }    
    }

}
*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Noto Sans SC", sans-serif;
}

img.d-block {
  width: 100%;
  height: 600px;
}

h1 {
  font-size: 30px;
  text-align: center;
  padding: 20px;
}
h1 strong {
  color: rgb(189, 82, 11);
}

p {
  font-size: 20px;
  padding: 5px;
}

h2 {
  font-size: 30px;
  text-align: center;
  padding: 20px;
}
h2 strong {
  color: rgb(189, 82, 11);
}

.sugerencias {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.sugerencias img {
  margin: 3px;
  width: 200px;
  height: 200px;
}

.menu-opciones {
  display: flex;
}
.menu-opciones div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 100px;
  border: none;
}
.menu-opciones div img {
  width: 340px;
  height: 480px;
}
.menu-opciones div a {
  text-decoration: none;
  color: rgb(189, 82, 11);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: space-around;
}
.cards img {
  width: 320px;
  height: 300px;
}
.cards .titulo-tarjeta {
  font-size: 25px;
  color: rgb(189, 82, 11);
}
.cards .card-text {
  font-size: 18px;
  margin-left: -10px;
}

.titulo-decorado {
  margin: 10px;
}
.titulo-decorado h2 {
  font-size: 30px;
  margin-bottom: -20px;
}
.titulo-decorado .linea-decorativa {
  background-image: url(https://popmenucloud.com/ckfbqnia/cdaa464b-da11-4c5f-b275-15cdfffbd18e.png);
  width: 280px;
  height: 40px;
  background-size: cover;
  margin: auto;
  margin-bottom: 80px;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 20px;
}

p {
  font-size: 20px;
  margin: 20px;
}
p strong {
  color: rgb(189, 82, 11);
}

.formulario-nosotros {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.formulario-nosotros img {
  width: 450px;
  height: 450px;
}
.formulario-nosotros form {
  width: 500px;
  height: 450px;
}
.formulario-nosotros form div {
  margin: 12px;
  font-size: 20px;
  padding: 6px;
}
.formulario-nosotros form div label {
  color: rgb(255, 255, 255);
}
.formulario-nosotros form div button {
  border-radius: 27px;
}

.mapa iframe {
  width: 100%;
  height: 300px;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 20px;
}

p {
  font-size: 20px;
  margin: 20px;
}
p strong {
  color: rgb(189, 82, 11);
}

.formulario-reservas {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.formulario-reservas img {
  width: 600px;
  height: 700px;
}
.formulario-reservas form {
  width: 500px;
  height: 600px;
}
.formulario-reservas form div {
  margin: 12px;
  font-size: 20px;
  padding: 6px;
}
.formulario-reservas form div label {
  color: rgb(255, 255, 255);
}
.formulario-reservas form div button {
  border-radius: 27px;
}

p {
  font-size: 20px;
  margin: 20px;
}
p strong {
  color: rgb(189, 82, 11);
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    justify-content: center;
  }
  nav ul li {
    font-size: 18px;
  }
  .logo {
    font-size: 19px;
  }
  img.d-block {
    height: 300px;
  }
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  .sugerencias img {
    width: 100px;
    height: 100px;
  }
  .menu-opciones {
    flex-direction: column;
  }
  .menu-opciones div {
    margin: 0;
  }
  .menu-opciones div img {
    width: 100%;
    height: 280px;
  }
  .cards {
    grid-template-columns: repeat(3, 150px);
  }
  .cards img {
    width: 150px;
    height: 100px;
  }
  .cards .titulo-tarjeta {
    font-size: 15px;
  }
  .cards .card-text {
    font-size: 12px;
  }
  .titulo-decorado {
    margin: 5px;
  }
  .titulo-decorado h2 {
    font-size: 22px;
  }
  .titulo-decorado .linea-decorativa {
    width: 200px;
    height: 30px;
  }
  .formulario-nosotros {
    flex-direction: column;
    justify-content: center;
  }
  .formulario-nosotros img {
    display: none;
  }
  .formulario-nosotros form {
    width: 100%;
    height: 390px;
  }
  .formulario-nosotros form div {
    font-size: 18px;
  }
  .formulario-nosotros form div input {
    width: 150px;
  }
  .formulario-nosotros form div select {
    height: 30px;
  }
  .formulario-nosotros form div button {
    width: 70px;
    height: 40px;
  }
  .formulario-reservas {
    flex-direction: column;
  }
  .formulario-reservas img {
    display: none;
  }
  .formulario-reservas form {
    width: 100%;
    height: 500px;
  }
  .formulario-reservas form div {
    font-size: 18px;
  }
  .formulario-reservas form div input {
    width: 150px;
  }
  .formulario-reservas form div select {
    height: 30px;
  }
  .formulario-reservas form div button {
    width: 70px;
    height: 40px;
  }
  footer {
    height: 250px;
  }
  footer .footer {
    grid-template-columns: repeat(3, 100px);
    gap: 4%;
  }
  footer .footer h3 {
    padding-top: 20px;
    font-size: 17px;
  }
  footer .footer p {
    font-size: 13px;
  }
  footer .footer .iconos-footer-ul {
    margin-right: 40px;
  }
  footer .footer .iconos-footer-ul li {
    font-size: 15px;
    padding: 3px;
  }
}
@media (min-width: 768px) {
  nav ul {
    flex-direction: row;
  }
  nav ul li {
    font-size: 22px;
  }
  .logo {
    font-size: 30px;
  }
  img.d-block {
    height: 500px;
  }
  h1 {
    font-size: 22px;
  }
  p {
    font-size: 20px;
  }
  h2 {
    font-size: 21px;
  }
  .sugerencias img {
    width: 200px;
    height: 200px;
  }
  .menu-opciones {
    flex-direction: row;
  }
  .menu-opciones div {
    margin: 0;
  }
  .menu-opciones div img {
    width: 100%;
    height: 480px;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    justify-content: space-around;
  }
  .cards img {
    width: 280px;
    height: 240px;
  }
  .cards .titulo-tarjeta {
    font-size: 17px;
    color: rgb(189, 82, 11);
  }
  .cards .card-text {
    font-size: 14px;
    margin-left: -10px;
  }
  .titulo-decorado {
    margin: 5px;
  }
  .titulo-decorado h2 {
    font-size: 30px;
  }
  .titulo-decorado .linea-decorativa {
    width: 250px;
    height: 35px;
  }
  h2 {
    font-size: 21px;
  }
  .formulario-nosotros {
    flex-direction: row;
  }
  .formulario-nosotros img {
    width: 350px;
    height: 390px;
  }
  .formulario-nosotros form {
    width: 500px;
    height: 390px;
  }
  .formulario-nosotros form div {
    font-size: 20px;
  }
  .formulario-nosotros form div input {
    width: 150px;
  }
  .formulario-nosotros form div select {
    height: 30px;
  }
  .formulario-nosotros form div button {
    width: 70px;
    height: 40px;
  }
  .formulario-reservas {
    flex-direction: row;
    justify-content: center;
  }
  .formulario-reservas img {
    width: 450px;
    height: 600px;
  }
  .formulario-reservas form {
    width: 500px;
    height: 600px;
  }
  .formulario-reservas form div {
    font-size: 20px;
  }
  .formulario-reservas form div input {
    width: 150px;
  }
  .formulario-reservas form div select {
    height: 30px;
  }
  .formulario-reservas form div button {
    width: 70px;
    height: 40px;
  }
  footer {
    height: 250px;
  }
  footer .footer {
    grid-template-columns: repeat(3, 220px);
    gap: 6%;
  }
  footer .footer h3 {
    padding-top: 20px;
    font-size: 22px;
  }
  footer .footer p {
    font-size: 18px;
  }
  footer .footer .iconos-footer-ul {
    margin-right: 40px;
  }
  footer .footer .iconos-footer-ul li {
    font-size: 18px;
    padding: 3px;
  }
}

/*# sourceMappingURL=styles.css.map */
