
footer{
    background:$colorDos;
    height: 250px;
    margin-top: 30px;
    .footer{
        display: grid;
        grid-template-columns: repeat(3,250px);
        gap:10% ;
        justify-content: center; 
        h3{
            padding-top: 50px;
            font-size: 35px;
            color:$colorUno;
        }    
        p{
            font-size: 16px;  
            margin: -1px;        
            color:$colorTres;
        }    
        .iconos-footer-ul{
            @include formulario (flex,row,space-around);
            margin-right: 80px;
            li{
                font-size: 18px;
                padding: 5px;
                i{
                    color:$colorUno; 
                    }
                }
            }
        }
}
//mobile
/*
@media (max-width:500px){
    footer{
        height: 250px;
        .footer{
            grid-template-columns: repeat(3,100px);
            gap: 5%;
            h3{
                padding-top: 20px;
                font-size: 17px;
            }
            p{
                font-size: 13px; 
            }
            .iconos-footer-ul{
                margin-right: 40px;
                li{
                    font-size: 15px;
                    padding: 3px;    
                } 
            }
        }    
    }
  
}

@media (min-width:$mediaMobile) and (max-width:$mediaTablet){
    footer{
        height: 250px;
        .footer{
            grid-template-columns: repeat(3,150px);
            gap: 3%;
            h3{
                padding-top: 22px;
                font-size: 18px;
            }
            p{
                font-size: 15px; 
            }
            .iconos-footer-ul{
                margin-right: 40px;
                li{
                    font-size: 15px;
                    padding: 4px;    
                } 
            }
        }    
    }
  
}
@media (min-width:$mediaDesktop){
    footer{
        height: 250px;
        .footer{
            grid-template-columns: repeat(3,180px);
            gap: 9%;
            h3{
                padding-top: 22px;
                font-size: 25px;
            }
            p{
                font-size: 16px; 
            }
            .iconos-footer-ul{
                margin-right: 40px;
                li{
                    font-size: 18px;
                    padding: 4px;    
                } 
            }
        }    
    }
  
}
*/  

                    
    
