
footer{
    background:$colorDos;
    height: 250px;
    margin-top: 30px;
    .footer{
        display: grid;
        grid-template-columns: repeat(3,250px);
        gap:10% ;
        justify-content: center; 
        h3{
            padding-top: 50px;
            font-size: 35px;
            color:$colorUno;
        }    
        p{
            font-size: 16px;  
            margin: -1px;        
            color:$colorTres;
        }    
        .iconos-footer-ul{
            @include formulario (flex,row,space-around);
            margin-right: 80px;
            li{
                font-size: 18px;
                padding: 5px;
                i{
                    color:$colorUno; 
                    }
                }
            }
        }
}

                    
    
