
.container-fluid{
    @include formulario (flex,column,center);
    background-color:$colorDos;
    .navbar-brand{   
        img{
            width: 120px;
            height: 120px;
            margin-left: 30px;
        }
    }
    .navbar-nav{
        .nav-link.active{
            color: $colorUno;
            font-size: 22px;
            margin: 8px; 
            &:hover{
                color: $colorTres;
            }
        } 
    }
    button{
        background: $colorUno;
    }
}