
.ubicacion{
    @include formulario (flex,row,space-around);
    margin: auto;
    margin-bottom: 400px;
    .card{
        height: 150px; 
        img{
            height: 250px;
        }  
    }
    .card-body{
        border: 1px solid $colorborde;
        border-bottom-left-radius:1px;
        border-bottom-right-radius:1px;
        h5{
            text-align: center;
            color: $colorUno;
            font-family: $raleway;
        }
        p{
            font-size: 20px;
            text-align: center;
        }
        .btn{
            display: flex;
            justify-content: center;
            margin: auto;
            background:$colorTres;
            border: 1px solid $colorUno;
            color: $colorUno;
            width: 150px;
            font-size: 18px;
            &:hover{
                background:$colorUno;
                color:$colorTres;
            }
        }
    }
}

