
h2{
    font-size:30px;
    text-align: center;
    margin: 20px;

}
p{
    font-size:20px ;
    margin: 20px;
    strong{
        color: $colorUno;
    }
}
.ubicacion{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 400px;
    .card{
        height: 150px; 
        img{
            height: 250px;
        }  
    }
    .card-body{
        border: 1px solid rgba(0, 0, 0, 0.349);
        border-bottom-left-radius:1px;
        border-bottom-right-radius:1px;
        h5{
            text-align: center;
            color: $colorUno;
            font-family: $raleway;
        }
        p{
            font-size: 20px;
            text-align: center;
        }
        .btn{
            margin: auto;
            background:white;
            border: 1px solid $colorUno;
            display: flex;
            color: $colorUno;
            justify-content: center;
            width: 150px;
            &:hover{
                background:$colorUno;
                color: white;
            }
        }
       

    }
}

