
@media (max-width:$mediaMobile){
    //HEADER
    .container-fluid{
        flex-direction: row;
        /*justify-content: center;*/
        /*background-color:black;*/
    }
    .nav-item{
        a{
            text-align: center;
        }
    }
    //INICIO
    img.d-block{
        /*width: 100%;*/
        height: 400px;
    } 
    .sugerencias{
        img{
            margin: 1px;
            width: 120px;
            height: 120px;
        }
    } 
    //MENU
    .menu-opciones{
        flex-direction: column;
        div{
            img{
                width: 100%;
                height:280px ;
            }
        }
    }
    .fondo-card{
        height: 65%;
        /*flex-direction:row;*/
        flex-wrap: wrap;
        /*margin-top: 100px;*/
        width: 100%;
        padding-bottom: 100px;
        .card{
            height: 500px;
        }
    }
    //RESERVAS
    .formulario-reservas{
        width:400px;
        height:700px ;
        /*margin: auto;*/
        input{
            width: 300px;
            height: 40px;
        }
        textarea{
            width: 300px;
        }
        select{
            margin-left: 50px;
            margin-bottom: 20px;
        }
    }
    //NOSOTROS
    .formulario-nosotros{
        width:350px;
        height:600px ;
        /*margin: auto;*/
        input{
            width: 250px;
            height: 40px;
            padding: 12px;
            margin-top: 12px;
        }
        textarea{
            width: 250px;
        }
        select{
            margin-left: 50px;
            margin-bottom: 20px;
        }
    }
    //SUCURSALES
    .ubicacion{
        flex-direction: column;
        flex-wrap:wrap;
        align-content: center;
        .card{
            margin-bottom:400px;   
        }
    }
    //FOOTER
    footer{
        height:400px;
        img{
            width: 100px;
            height: 100px;
        }
        .iconos-footer-ul{
            li{
                font-size: 20px;
            }
        }
        .footer{
            grid-template-columns: repeat(3,145px);
            gap: 1%;
            h3{
                padding-top: 50px;
                font-size: 16px;
                color:$colorUno;
            } 
            p{
                font-size: 12px;  
            }

        }
    }

}

@media (min-width:$mediaTablet)and (max-width:780px){
    //HEADER
    .container-fluid{
        flex-direction: row;
        /*justify-content: center;*/
        /*background-color:black;*/
        .nav-item{
            a{
                text-align: center;
            }
        }
    }
    //INICIO
    img.d-block{
        /*width: 100%;*/
        height: 500px;
    }
    .sugerencias{
        img{
            margin: 2px;
            width: 180px;
            height: 180px;
        }
    } 
    //MENU
    .menu-opciones{
        flex-direction:column;
        flex-wrap: wrap;
        justify-content: center;
        div{
            img{
                width:100%;
                height:550px;
            }
        }
    }
    .fondo-card{
        height: 65%;
        /*flex-direction:row;
        justify-content: space-around;*/
        flex-wrap:wrap;
        /*margin-top: 100px;*/
        width: 100%;
        padding-bottom: 100px;
        .card{
            height: 500px;
        }
    } 
    //RESERVAS
    .formulario-reservas{
        width:400px;
        height:700px ;
        /*margin: auto;*/
        input{
            width: 300px;
            height: 40px;
        }
        textarea{
            width: 300px;
        }
        select{
            margin-left: 50px;
            margin-bottom: 20px;
        }
    }
    //NOSOTROS
    .formulario-nosotros{
        width:400px;
        height:600px ;
        /*margin: auto;*/
        input{
            width: 300px;
            height: 40px;
            padding: 12px;
            margin-top: 12px;
        }
        textarea{
            width: 300px;
        }
        select{
            margin-left: 50px;
            margin-bottom: 20px;
        }
    }
    //SUCURSALES
    .ubicacion{
        flex-direction: column;
        flex-wrap:wrap;
        align-content: center;
        .card{
            margin-bottom:400px;   
        }
    }

    //FOOTER
    footer{
        height:400px;
        img{
            width: 120px;
            height: 120px;
        }
        .iconos-footer-ul{
            li{
                font-size: 20px;
            }
        }
        .footer{
            grid-template-columns: repeat(3,170px);
            gap: 2%;
            h3{
                padding-top: 50px;
                font-size: 16px;
                color:$colorUno;
            } 
            p{
                font-size: 12px;  
            }

        }
    }
}
@media (min-width:781px) and (max-width:980px){
    //INICIO
    .container-fluid{
        flex-direction: row;//column
        justify-content: center;
        background-color:black;
        .nav-item{
            a{
                text-align: center;
            }
        }
    }
    //MENU
    .menu-opciones{
        flex-direction:row;
        flex-wrap: nowrap;
        justify-content: center;
        div{
            img{
                width:220px;
                height:350px ;
            }
        }
    }
    .fondo-card{
        height: 65%;
        flex-direction:row;
        justify-content: space-around;
        flex-wrap:wrap;
        margin-top: 100px;
        width: 100%;
        padding-bottom: 100px;
        .card{
            height: 500px;
        }
    } 
    //RESERVAS
    .formulario-reservas{
        width:550px;
        height:650px ;
        margin: auto;
        input{
            width: 450px;
            height: 40px;
        }
        textarea{
            width: 450px;
        }
        select{
            margin-left: 50px;
            margin-bottom: 20px;
        }
    }
    //NOSOTROS
    .formulario-nosotros{
        width:550px;
        height:650px ;
        margin: auto;
        input{
            width: 450px;
            height: 40px;
        }
        textarea{
            width: 450px;
        }
        select{
            margin-left: 50px;
            margin-bottom: 20px;
        }
    }
    //SUCURSALES
    .ubicacion{
        flex-direction:row;
        flex-wrap:wrap;
        align-content:space-around;
        margin: 50px;
        .card{
            margin-bottom:400px; 
        }
    }
    //FOOTER
    footer{
        height:400px;
        img{
            width: 120px;
            height: 120px;
        }
        .iconos-footer-ul{
            li{
                font-size: 20px;
            }

        }
        .footer{
            grid-template-columns: repeat(3,170px);
            gap: 2%;
            h3{
                padding-top: 50px;
                font-size: 16px;
                color:$colorUno;
            } 
            p{
                font-size: 12px;  
            }

        }
    }
}







@media (min-width:981px) {
        //HEADER
        .container-fluid{
            flex-direction: column;
            justify-content: center;
            background-color:black;
            .nav-item{
                a{
                    text-align: center;
                }
            }
        }
        //MENU
        .menu-opciones{
            flex-direction:row;
            flex-wrap: nowrap;
            justify-content: center;
            div{
                img{
                    width:300px;
                    height:350px ;
                }
            }
        }
        .fondo-card{
            height: 65%;
            flex-direction:row;
            justify-content: space-around;
            flex-wrap:wrap;
            margin-top: 100px;
            width: 100%;
            padding-bottom: 100px;
            .card{
                height: 500px;
            }
    }
}
    //RESERVAS
    /*
    .formulario-reservas{
        width:550px;
        height:650px ;
        margin: auto;
        input{
            width: 450px;
            height: 40px;
        }
        textarea{
            width: 450px;
        }
        select{
            margin-left: 50px;
            margin-bottom: 20px;
        }
    }
    //NOSOTROS
    .formulario-nosotros{
        width:550px;
        height:650px ;
        margin: auto;
        input{
            width: 450px;
            height: 40px;
        }
        textarea{
            width: 450px;
        }
        select{
            margin-left: 50px;
            margin-bottom: 20px;
        }
    }

*/
