
@media (max-width:$mediaMobile){
    //HEADER
    .container-fluid{
        flex-direction: row;
        justify-content: center;
        background-color:black;
    }
    .nav-item{
        a{
            text-align: center;
        }
    }
    //INICIO
    img.d-block{
        width: 100%;
        height: 420px;
    } 
    .sugerencias{
        img{
            margin: 2px;
            width: 150px;
            height: 150px;
        }
    } 
    //MENU
    .menu-opciones{
        flex-direction: column;
        div{
            img{
                width: 100%;
                height:280px ;
            }
        }
    }
    .fondo-card{
        height: 65%;
        flex-direction:row;
        flex-wrap: wrap;
        margin-top: 100px;
        width: 100%;
        padding-bottom: 100px;
        .card{
            height: 500px;
        }
    }
    //RESERVAS
    .formulario-reservas{
        width:400px;
        height:700px ;
        margin: auto;
        input{
            width: 300px;
            height: 40px;
        }
        textarea{
            width: 300px;
        }
        select{
            margin-left: 50px;
            margin-bottom: 20px;
        }
    }
    //NOSOTROS
    .formulario-nosotros{
        width:400px;
        height:600px ;
        margin: auto;
        input{
            width: 300px;
            height: 40px;
        }
        textarea{
            width: 300px;
        }
        select{
            margin-left: 50px;
            margin-bottom: 20px;
        }
    }
    //FOOTER
    footer{
        height:400px;
        img{
            width: 100px;
            height: 100px;
        }
        .iconos-footer-ul{
            li{
                font-size: 20px;
            }

        }
        .footer{
            grid-template-columns: repeat(3,145px);
            gap: 1%;
            h3{
                padding-top: 50px;
                font-size: 16px;
                color:$colorUno;
            } 
            p{
                font-size: 12px;  
            }

        }
    }
}

@media (min-width:$mediaTablet)and (max-width:$mediaTablet2){
    //HEADER
    .container-fluid{
        flex-direction: row;
        justify-content: center;
        background-color:black;
        .nav-item{
            a{
                text-align: center;
            }
        }
    }
    //INICIO
    img.d-block{
        width: 100%;
        height: 500px;
    }
    .sugerencias{
        img{
            margin: 2px;
            width: 180px;
            height: 180px;
        }
    } 
    //MENU
    .menu-opciones{
        flex-direction:column;//row
        flex-wrap: wrap;
        justify-content: center;
        div{
            img{
                width:100%;
                height:400px ;
            }
        }
    }
    .fondo-card{
        height: 65%;
        flex-direction:row;//row
        justify-content: space-around;
        flex-wrap:wrap;
        margin-top: 100px;
        width: 100%;
        padding-bottom: 100px;
        .card{
            height: 500px;
        }
    } 
    //RESERVAS
    .formulario-reservas{
        width:450px;
        height:650px ;
        margin: auto;
        input{
            width: 300px;
            height: 40px;
        }
        textarea{
            width: 300px;
        }
        select{
            margin-left: 50px;
            margin-bottom: 20px;
        }
    }
    //NOSOTROS
    .formulario-nosotros{
        width:450px;
        height:650px ;
        margin: auto;
        input{
            width: 300px;
            height: 40px;
        }
        textarea{
            width: 300px;
        }
        select{
            margin-left: 50px;
            margin-bottom: 20px;
        }
    }
    //FOOTER
    footer{
        height:400px;
        img{
            width: 120px;
            height: 120px;
        }
        .iconos-footer-ul{
            li{
                font-size: 20px;
            }

        }
        .footer{
            grid-template-columns: repeat(3,170px);
            gap: 2%;
            h3{
                padding-top: 50px;
                font-size: 16px;
                color:$colorUno;
            } 
            p{
                font-size: 12px;  
            }

        }
    }
}

@media (min-width:$mediaDesktop) {
        //HEADER
        .container-fluid{
            flex-direction: column;
            justify-content: center;
            background-color:black;
            .nav-item{
                a{
                    text-align: center;
                }
            }
        }
        //MENU
        .menu-opciones{
            flex-direction:row;//row
            flex-wrap: nowrap;
            justify-content: center;
            div{
                img{
                    width:250px;
                    height:350px ;
                }
            }
        }
        .fondo-card{
            height: 65%;
            flex-direction:row;//row
            justify-content: space-around;
            flex-wrap:wrap;
            margin-top: 100px;
            width: 100%;
            padding-bottom: 100px;
            .card{
                height: 500px;
            }
    }
    


    
}



  