
.fondo-card{
    background:$colorCinco;
    background-image: url(../img/desayuno.jpg);
    height: 700px;
    @include formulario (flex,row, space-around);
    margin-top: 100px;
    .card{
        margin-top: 100px;
        height: 500px;
        background:$colorTres;
        .card-img-top{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin: auto;
            margin-top: 20px;
        }
        .card-body{
            h3{
                font-size: 25px;
                color: $colorUno;
                text-align: center;
                font-family:$raleway;
            }
            p{
                text-align: center;
                font-family:$raleway ;
                font-size: 18px;
                strong{
                    color: $colorUno;
                }
            }
        }
    }
}
.titulo{
    background:$colorCinco;
    color:$colorUno;
    margin-bottom: -100px;
    margin-top: 200px;
    h2{
        font-family:$raleway;
        font-size:30px ;
        letter-spacing: 10px;
    }
}

.carta{
    background-image: url(../img/desayuno.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 400px;
    h2{
        text-align: center;
        font-size: 30px;
        padding: 130px;
        letter-spacing: 20px;
        color: $colorTres;
    }
}
