
.fondo-card{
    @include formulario (flex,row, space-around);
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(../img/desayuno.jpg);
    height: 700px;
    margin-top: 100px;
    .card{
        margin-top: 100px;
        height: 500px;
        background:$colorSeis;
        .card-img-top{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin: auto;
            margin-top: 20px;
        }
        .card-body{
            h3{
                font-size: 25px;
                color: $colorUno;
                text-align: center;
                font-family:$raleway;
            }
            p{
                text-align: center;
                font-family:$raleway ;
                font-size: 18px;
                strong{
                    color: $colorUno;
                }
            }
        }
    }
}
.titulo{
    background:$colorDos;
    color:$colorUno;
    margin-bottom: -100px;
    margin-top: 200px;
    h2{
        font-family:$raleway;
        font-size:30px ;
        letter-spacing: 10px;
    }
}
.carta{
    background-image:url(../img/menu-fondo.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 320px;
    h2{
        text-align: center;
        font-size: 30px;
        padding-bottom: 100px;
        color: $colorUno;
        font-family:$raleway;
        margin: auto;
    }
    div{
        @include formulario (flex,row, space-around);
        margin: -20px;
        font-size: 20px;
        .btn{
            margin: auto;
            background:rgba(0, 0, 0, 0.678);
            color: $colorUno;
            border:1px solid $colorUno;
            border: rgba(0, 0, 0, 0);
            font-family: $raleway;
            width: 200px;
            &:hover{
                background:$colorDos;
                color:$colorUno;
                border:1px solid $colorDos;
            }
        }
    }
}
