
.formulario-nosotros{ 
    @extend %form;
    width:800px;
    height:600px;
    margin: auto;
    input{
        @extend %input;
        width: 700px;
        margin-left: 40px;
    }
    textarea{
        @extend %textarea;
        margin-left: 40px;
        width: 700px;
    }
    label{
        @extend %label;
        margin-left: 40px
    }
    select{
        @extend %select;
    }
    button{
        @extend %button;
        margin-left: 40px;
        animation: animacionboton 2s infinite;     
    }   
} 
//Animacion para boton de formularios
@keyframes animacionboton{
    0%{
        transform: scale(1.05) rotate(6deg);
    }
    20%{
        transform: scale(1.05) rotate(-7deg);
        
    }
    30%{
        transform: scale(1.05) rotate(6deg);
    }
    40%{
        transform:none;
    }

}       
