
.formulario-nosotros{ 
    @extend %form;
    width:800px;
    height:600px;
    margin: auto;
    input{
        @extend %input;
        width: 700px;
        margin-left: 40px;
    }
    textarea{
        @extend %textarea;
        margin-left: 40px;
    }
    label{
        @extend %label;
        margin-left: 40px
    }
    select{
        @extend %select;
    }
    button{
        @extend %button;
        margin-left: 40px;
    }
}        
                
