
.formulario-reservas{
    @extend %form;
    width: 800px;
    height: 700px;
    input{
        @extend %input;
        width: 700px;
    }
    textarea{
        @extend %textarea;
        width: 700px;
    }
    label{
        @extend %label;
    }
    select{
        @extend %select;
    }
    button{
        @extend %button;
        animation: animacionboton 2s infinite;
    }
}        
                    

    






  
