//COLORES
$colorUno:rgb(189 , 82 ,11);
$colorDos:black;
$colorTres:rgb(255, 255, 255);
$colorCuatro:rgb(75 75 75 / 35%);
//MEDIAS-QUERIES
/*$mediaMobile:768px;
$mediaDesktop:768px;*/
$mediaMobile:500px;
$mediaDesktop:500px;

//MIXINS
@mixin flex ($display,$flex-direction,$just,$a-content,$a-items){
    display: $display;
    flex-direction: $flex-direction;
    justify-content: $just;
    align-content: $a-content;
    align-items: $a-items;
}
@mixin formulario ($display,$flex-direction,$just){
    display: $display;
    flex-direction: $flex-direction;
    justify-content: $just;
}
//EXTEND
%form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $colorDos;
}

%input{
    padding: 20px;
    background:$colorDos;
    border-bottom:2px solid $colorUno;
    border-top: none;
    border-left: none;
    border-right: none;
    color:$colorTres;
    margin-top: 20px;
}
%select{
    background:$colorDos;
    color: $colorUno;
    border: 1px solid $colorUno;
    
}
%button{
    margin-top: 30px;
    background-color:$colorDos;
    color: $colorUno;
    border: 1px solid $colorUno;
    width: 100px;
    height:40px;
}
%textarea{
    width: 300px;
    background:$colorDos;
    border-bottom:2px solid $colorUno;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
}
%label{
padding: 20px;
color: white;
}








